#pandas series:
A pandas series is like a column in table.
It is one-dimensional array holding data of any type.

In [2]:
#example
import pandas as pd
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
import pandas as pd
print(pd.__version__)

2.1.4

In [6]:
#Create a simple Pandas Series from a list:
import pandas as pd
a = [8,9,2]
myvar = pd.Series(a)
print(myvar)

0    8
1    9
2    2
dtype: int64

In [7]:
#Return the first value of the Series:
print(myvar[0])

8

In [8]:
#Create your own labels:
import pandas as pd
a = [4,7,1]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    4
y    7
z    1
dtype: int64

In [9]:
#Return the value of "y":
print(myvar["y"])

7

In [11]:
#Create a simple Pandas Series from a dictionary:

import pandas as pd
info = {"name":"Vishakha","roll no":16643}

myvar = pd.Series(info)

print(myvar)

name       Vishakha
roll no       16643
dtype: object

In [13]:
#Create a Series using only data from "name" and "roll no":
import pandas as pd
info = {"name":"Vishakha","roll no":16643,"city":"satara"}
myvar = pd.Series(info, index = ["name", "roll no"])
print(myvar)

name       Vishakha
roll no       16643
dtype: object

In [2]:
#Create a DataFrame from two Series:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [4]:
#Create a simple Pandas DataFrame:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
#load data into a DataFrame object:
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45