In [1]:
#Dataframe
#What is a DataFrame?
#A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
#load data into a DataFrame object:
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [2]:
#Locate Row
#As you can see from the result above, the DataFrame is like a table with rows and columns.
#Pandas use the loc attribute to return one or more specified row(s)
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [3]:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [4]:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [5]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [6]:
#Load Files Into a DataFrame
#If your data sets are stored in a file, Pandas can load them into a DataFrame.
#import pandas as pd
#df = pd.read_csv('data.csv')
#print(df)

In [2]:
import pandas as pd
df=pd.read_excel('C:/Users/vansh/Desktop/Mall_Customers.xlsx')
print(df)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]