In [9]:
#Selection
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'Gender': ['Female', 'Male', 'Male', 'Male']}

df = pd.DataFrame(data)

# Selecting a single column
ages = df['Age']
print(ages)

# Selecting multiple columns
subset = df[['Name', 'Gender']]
print(subset)

# Selecting rows based on a condition
male_records = df[df['Gender']=='Male']
print(male_records)

0    25
1    30
2    35
3    40
Name: Age, dtype: int64
      Name  Gender
0    Alice  Female
1      Bob    Male
2  Charlie    Male
3    David    Male
      Name  Age Gender
1      Bob   30   Male
2  Charlie   35   Male
3    David   40   Male

In [4]:
subset_loc = df.loc[1:2, ['Name', 'Age']]
print(subset_loc)

      Name  Age
1      Bob   30
2  Charlie   35

In [5]:
subset_iloc = df.iloc[1:3, [0, 1]]
print(subset_iloc)

      Name  Age
1      Bob   30
2  Charlie   35

In [11]:
#Condition selection
selected_rows=df[df["Age"]>30]
print(selected_rows)

      Name  Age Gender
2  Charlie   35   Male
3    David   40   Male

In [19]:
selected_col=df.iloc[0]#Selecting row
selected_col

Name       Alice
Age           25
Gender    Female
Name: 0, dtype: object

In [22]:
bob=df.set_index("Name")
row=bob.loc["Bob"]
row

Age         30
Gender    Male
Name: Bob, dtype: object

In [28]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        }

df = pd.DataFrame(data)
df["Gender"]=["Female","male","Male","Male"]
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    male
2  Charlie   35    Male
3    David   40    Male

In [29]:
df.drop("Gender",axis=1,inplace=True)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

In [30]:
df["Age"]=[44,22,34,32]
print(df)

      Name  Age
0    Alice   44
1      Bob   22
2  Charlie   34
3    David   32

In [36]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}

df = pd.DataFrame(data)

# Set 'Name' column as the index
df.set_index('Name', inplace=True)#Gives "Name" an index
print(df)

         Age
Name
Alice     25
Bob       30
Charlie   35

In [39]:
#Remove index
df.reset_index(inplace=True)
print(df)

   level_0  index     Name  Age
0        0      0    Alice   25
1        1      1      Bob   30
2        2      2  Charlie   35

In [40]:
import pandas as pd

# Create a sample DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}

df = pd.DataFrame(data)

# Perform arithmetic operations between columns
# Addition
df['C'] = df['A'] + df['B']

# Subtraction
df['D'] = df['A'] - df['B']

# Multiplication
df['E'] = df['A'] * df['B']

# Division
df['F'] = df['A'] / df['B']

# Exponentiation
df['G'] = df['A'] ** df['B']

print(df)

   A  B   C  D   E         F      G
0  1  5   6 -4   5  0.200000      1
1  2  6   8 -4  12  0.333333     64
2  3  7  10 -4  21  0.428571   2187
3  4  8  12 -4  32  0.500000  65536