In [1]:
#Missing values
#Remove Rows
#One way to deal with empty cells is to remove rows that contain empty cells.
#This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.
import pandas as pd
data=pd.read_csv("C:/Users/vansh/Desktop/Mall_Customers.csv")
data

new_df=data.dropna()
print(new_df)

     CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
0           1.0    Male  19.0                15.0                    39.0
1           2.0    Male  21.0                15.0                    81.0
2           3.0  Female  20.0                16.0                     6.0
3           4.0  Female  23.0                16.0                    77.0
4           5.0  Female  31.0                17.0                    40.0
..          ...     ...   ...                 ...                     ...
195       196.0  Female  35.0               120.0                    79.0
196       197.0  Female  45.0               126.0                    28.0
197       198.0    Male  32.0               126.0                    74.0
198       199.0    Male  32.0               137.0                    18.0
199       200.0    Male  30.0               137.0                    83.0

[191 rows x 5 columns]

In [2]:
#By default, the dropna() method returns a new DataFrame, and will not change the original.
#If you want to change the original DataFrame, use the inplace = True argument:

In [4]:
#Remove all rows with NULL values:

import pandas as pd

df = pd.read_csv("C:/Users/vansh/Desktop/Mall_Customers.csv")

df.dropna(inplace = True)

print(df.to_string())

     CustomerID  Gender   Age  Annual Income (k$)  Spending Score (1-100)
0           1.0    Male  19.0                15.0                    39.0
1           2.0    Male  21.0                15.0                    81.0
2           3.0  Female  20.0                16.0                     6.0
3           4.0  Female  23.0                16.0                    77.0
4           5.0  Female  31.0                17.0                    40.0
5           6.0  Female  22.0                17.0                    76.0
6           7.0  Female  35.0                18.0                     6.0
7           8.0  Female  23.0                18.0                    94.0
8           9.0    Male  64.0                19.0                     3.0
9          10.0  Female  30.0                19.0                    72.0
10         11.0    Male  67.0                19.0                    14.0
11         12.0  Female  35.0                19.0                    99.0
12         13.0  Female  58.0                20.0                    15.0
13         14.0  Female  24.0                20.0                    77.0
14         15.0    Male  37.0                20.0                    13.0
15         16.0    Male  22.0                20.0                    79.0
16         17.0  Female  35.0                21.0                    35.0
17         18.0    Male  20.0                21.0                    66.0
18         19.0    Male  52.0                23.0                    29.0
19         20.0  Female  35.0                23.0                    98.0
29         30.0  Female  23.0                29.0                    87.0
30         31.0    Male  60.0                30.0                     4.0
31         32.0  Female  21.0                30.0                    73.0
32         33.0    Male  53.0                33.0                     4.0
33         34.0    Male  18.0                33.0                    92.0
34         35.0  Female  49.0                33.0                    14.0
35         36.0  Female  21.0                33.0                    81.0
36         37.0  Female  42.0                34.0                    17.0
37         38.0  Female  30.0                34.0                    73.0
38         39.0  Female  36.0                37.0                    26.0
39         40.0  Female  20.0                37.0                    75.0
40         41.0  Female  65.0                38.0                    35.0
41         42.0    Male  24.0                38.0                    92.0
42         43.0    Male  48.0                39.0                    36.0
43         44.0  Female  31.0                39.0                    61.0
44         45.0  Female  49.0                39.0                    28.0
45         46.0  Female  24.0                39.0                    65.0
46         47.0  Female  50.0                40.0                    55.0
47         48.0  Female  27.0                40.0                    47.0
48         49.0  Female  29.0                40.0                    42.0
49         50.0  Female  31.0                40.0                    42.0
50         51.0  Female  49.0                42.0                    52.0
51         52.0    Male  33.0                42.0                    60.0
52         53.0  Female  31.0                43.0                    54.0
53         54.0    Male  59.0                43.0                    60.0
54         55.0  Female  50.0                43.0                    45.0
55         56.0    Male  47.0                43.0                    41.0
56         57.0  Female  51.0                44.0                    50.0
57         58.0    Male  69.0                44.0                    46.0
58         59.0  Female  27.0                46.0                    51.0
59         60.0    Male  53.0                46.0                    46.0
60         61.0    Male  70.0                46.0                    56.0
61         62.0    Male  19.0                46.0                    55.0
62         63.0  Female  67.0                47.0                    52.0
63         64.0  Female  54.0                47.0                    59.0
64         65.0    Male  63.0                48.0                    51.0
65         66.0    Male  18.0                48.0                    59.0
66         67.0  Female  43.0                48.0                    50.0
67         68.0  Female  68.0                48.0                    48.0
68         69.0    Male  19.0                48.0                    59.0
69         70.0  Female  32.0                48.0                    47.0
70         71.0    Male  70.0                49.0                    55.0
71         72.0  Female  47.0                49.0                    42.0
72         73.0  Female  60.0                50.0                    49.0
73         74.0  Female  60.0                50.0                    56.0
74         75.0    Male  59.0                54.0                    47.0
75         76.0    Male  26.0                54.0                    54.0
76         77.0  Female  45.0                54.0                    53.0
77         78.0    Male  40.0                54.0                    48.0
78         79.0  Female  23.0                54.0                    52.0
79         80.0  Female  49.0                54.0                    42.0
80         81.0    Male  57.0                54.0                    51.0
81         82.0    Male  38.0                54.0                    55.0
82         83.0    Male  67.0                54.0                    41.0
83         84.0  Female  46.0                54.0                    44.0
84         85.0  Female  21.0                54.0                    57.0
85         86.0    Male  48.0                54.0                    46.0
86         87.0  Female  55.0                57.0                    58.0
87         88.0  Female  22.0                57.0                    55.0
88         89.0  Female  34.0                58.0                    60.0
89         90.0  Female  50.0                58.0                    46.0
90         91.0  Female  68.0                59.0                    55.0
91         92.0    Male  18.0                59.0                    41.0
92         93.0    Male  48.0                60.0                    49.0
93         94.0  Female  40.0                60.0                    40.0
94         95.0  Female  32.0                60.0                    42.0
95         96.0    Male  24.0                60.0                    52.0
96         97.0  Female  47.0                60.0                    47.0
97         98.0  Female  27.0                60.0                    50.0
98         99.0    Male  48.0                61.0                    42.0
99        100.0    Male  20.0                61.0                    49.0
100       101.0  Female  23.0                62.0                    41.0
101       102.0  Female  49.0                62.0                    48.0
102       103.0    Male  67.0                62.0                    59.0
103       104.0    Male  26.0                62.0                    55.0
104       105.0    Male  49.0                62.0                    56.0
105       106.0  Female  21.0                62.0                    42.0
106       107.0  Female  66.0                63.0                    50.0
107       108.0    Male  54.0                63.0                    46.0
108       109.0    Male  68.0                63.0                    43.0
109       110.0    Male  66.0                63.0                    48.0
110       111.0    Male  65.0                63.0                    52.0
111       112.0  Female  19.0                63.0                    54.0
112       113.0  Female  38.0                64.0                    42.0
113       114.0    Male  19.0                64.0                    46.0
114       115.0  Female  18.0                65.0                    48.0
115       116.0  Female  19.0                65.0                    50.0
116       117.0  Female  63.0                65.0                    43.0
117       118.0  Female  49.0                65.0                    59.0
118       119.0  Female  51.0                67.0                    43.0
119       120.0  Female  50.0                67.0                    57.0
120       121.0    Male  27.0                67.0                    56.0
121       122.0  Female  38.0                67.0                    40.0
122       123.0  Female  40.0                69.0                    58.0
123       124.0    Male  39.0                69.0                    91.0
124       125.0  Female  23.0                70.0                    29.0
125       126.0  Female  31.0                70.0                    77.0
126       127.0    Male  43.0                71.0                    35.0
127       128.0    Male  40.0                71.0                    95.0
128       129.0    Male  59.0                71.0                    11.0
129       130.0    Male  38.0                71.0                    75.0
130       131.0    Male  47.0                71.0                     9.0
131       132.0    Male  39.0                71.0                    75.0
132       133.0  Female  25.0                72.0                    34.0
133       134.0  Female  31.0                72.0                    71.0
134       135.0    Male  20.0                73.0                     5.0
135       136.0  Female  29.0                73.0                    88.0
136       137.0  Female  44.0                73.0                     7.0
137       138.0    Male  32.0                73.0                    73.0
138       139.0    Male  19.0                74.0                    10.0
139       140.0  Female  35.0                74.0                    72.0
140       141.0  Female  57.0                75.0                     5.0
141       142.0    Male  32.0                75.0                    93.0
142       143.0  Female  28.0                76.0                    40.0
143       144.0  Female  32.0                76.0                    87.0
144       145.0    Male  25.0                77.0                    12.0
145       146.0    Male  28.0                77.0                    97.0
146       147.0    Male  48.0                77.0                    36.0
147       148.0  Female  32.0                77.0                    74.0
148       149.0  Female  34.0                78.0                    22.0
149       150.0    Male  34.0                78.0                    90.0
150       151.0    Male  43.0                78.0                    17.0
151       152.0    Male  39.0                78.0                    88.0
152       153.0  Female  44.0                78.0                    20.0
153       154.0  Female  38.0                78.0                    76.0
154       155.0  Female  47.0                78.0                    16.0
155       156.0  Female  27.0                78.0                    89.0
156       157.0    Male  37.0                78.0                     1.0
157       158.0  Female  30.0                78.0                    78.0
158       159.0    Male  34.0                78.0                     1.0
159       160.0  Female  30.0                78.0                    73.0
160       161.0  Female  56.0                79.0                    35.0
161       162.0  Female  29.0                79.0                    83.0
162       163.0    Male  19.0                81.0                     5.0
163       164.0  Female  31.0                81.0                    93.0
164       165.0    Male  50.0                85.0                    26.0
165       166.0  Female  36.0                85.0                    75.0
166       167.0    Male  42.0                86.0                    20.0
167       168.0  Female  33.0                86.0                    95.0
168       169.0  Female  36.0                87.0                    27.0
169       170.0    Male  32.0                87.0                    63.0
170       171.0    Male  40.0                87.0                    13.0
171       172.0    Male  28.0                87.0                    75.0
172       173.0    Male  36.0                87.0                    10.0
173       174.0    Male  36.0                87.0                    92.0
174       175.0  Female  52.0                88.0                    13.0
175       176.0  Female  30.0                88.0                    86.0
176       177.0    Male  58.0                88.0                    15.0
177       178.0    Male  27.0                88.0                    69.0
178       179.0    Male  59.0                93.0                    14.0
179       180.0    Male  35.0                93.0                    90.0
180       181.0  Female  37.0                97.0                    32.0
181       182.0  Female  32.0                97.0                    86.0
182       183.0    Male  46.0                98.0                    15.0
183       184.0  Female  29.0                98.0                    88.0
184       185.0  Female  41.0                99.0                    39.0
185       186.0    Male  30.0                99.0                    97.0
186       187.0  Female  54.0               101.0                    24.0
187       188.0    Male  28.0               101.0                    68.0
188       189.0  Female  41.0               103.0                    17.0
189       190.0  Female  36.0               103.0                    85.0
190       191.0  Female  34.0               103.0                    23.0
191       192.0  Female  32.0               103.0                    69.0
192       193.0    Male  33.0               113.0                     8.0
193       194.0  Female  38.0               113.0                    91.0
194       195.0  Female  47.0               120.0                    16.0
195       196.0  Female  35.0               120.0                    79.0
196       197.0  Female  45.0               126.0                    28.0
197       198.0    Male  32.0               126.0                    74.0
198       199.0    Male  32.0               137.0                    18.0
199       200.0    Male  30.0               137.0                    83.0

In [5]:
#Replace Empty Values
#Another way of dealing with empty cells is to insert a new value instead.
#This way you do not have to delete entire rows just because of some empty cells.
#The fillna() method allows us to replace empty cells with a value:
import pandas as pd

df = pd.read_csv("C:/Users/vansh/Desktop/Mall_Customers.csv")

nw=df.fillna(130, inplace = True)
print(nw)

None

In [7]:
import pandas as pd

df = pd.read_csv("C:/Users/vansh/Desktop/Mall_Customers.csv")

new=df["Gender"].fillna(130, inplace = True)
print(new)

None

In [8]:
import pandas as pd

df = pd.read_csv("C:/Users/vansh/Desktop/Mall_Customers.csv")

x = df["Age"].mean()

df["Age"].fillna(x, inplace = True)

In [9]:
import pandas as pd

df = pd.read_csv("C:/Users/vansh/Desktop/Mall_Customers.csv")

x = df["Age"].median()

df["Age"].fillna(x, inplace = True)

In [10]:
import pandas as pd

df = pd.read_csv("C:/Users/vansh/Desktop/Mall_Customers.csv")

x = df["Age"].mode()[0]

df["Age"].fillna(x, inplace = True)

In [11]:
import pandas as pd
import numpy as np

# Create a DataFrame with some missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)

# Check for missing values
missing_values = df.isna()  # or df.isnull()
print(missing_values)

       A      B      C
0  False  False  False
1  False   True  False
2   True   True  False
3  False  False  False

In [12]:
import pandas as pd
import numpy as np

# Create a DataFrame with some missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)

# Drop rows with any missing values
df_dropped_rows = df.dropna()
print(df_dropped_rows)

     A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

In [13]:
# Drop columns with any missing values
df_dropped_columns = df.dropna(axis=1)
print(df_dropped_columns)

    C
0   9
1  10
2  11
3  12

In [14]:
# Create a DataFrame with some rows having all NaN values
data_with_all_nan_rows = {
    'A': [1, np.nan, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, np.nan, np.nan, 12]
}
df_with_all_nan_rows = pd.DataFrame(data_with_all_nan_rows)

# Drop rows where all values are missing
df_dropped_all_nan_rows = df_with_all_nan_rows.dropna(how='all')
print(df_dropped_all_nan_rows)

     A    B     C
0  1.0  5.0   9.0
3  4.0  8.0  12.0

In [15]:
# Drop columns where all values are missing
df_dropped_all_nan_columns = df_with_all_nan_rows.dropna(how='all', axis=1)
print(df_dropped_all_nan_columns)

     A    B     C
0  1.0  5.0   9.0
1  NaN  NaN   NaN
2  NaN  NaN   NaN
3  4.0  8.0  12.0

In [16]:
import pandas as pd
import numpy as np

# Create a DataFrame with some missing values
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)

# Fill NaNs with a specific value (e.g., 0)
df_filled = df.fillna(0)
print(df_filled)

     A    B   C
0  1.0  5.0   9
1  2.0  0.0  10
2  0.0  0.0  11
3  4.0  8.0  12

In [17]:
# Fill NaNs with the mean of the column
df_filled_mean = df.fillna(df.mean())
print(df_filled_mean)

# Fill NaNs with the median of the column
df_filled_median = df.fillna(df.median())
print(df_filled_median)

# Fill NaNs with the mode of the column (mode returns a DataFrame)
df_filled_mode = df.fillna(df.mode().iloc[0])
print(df_filled_mode)

          A    B   C
0  1.000000  5.0   9
1  2.000000  6.5  10
2  2.333333  6.5  11
3  4.000000  8.0  12
     A    B   C
0  1.0  5.0   9
1  2.0  6.5  10
2  2.0  6.5  11
3  4.0  8.0  12
     A    B   C
0  1.0  5.0   9
1  2.0  5.0  10
2  1.0  5.0  11
3  4.0  8.0  12